{% extends "base.html" %}
{% block title %} Index Page{% endblock %}

{% block content %}
<h1>Hello World</h1>

<form method="POST" action="{{ url_for('index') }}">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name='password'><br>
  <input type="submit" value="Login!"><br>
</form>

<h1> File upload</h1>

<form method="POST" action="{{ url_for('file_upload') }}" enctype="multipart/form-data">
  <input type="file" name="file" accept=".txt, .xls, .xlsx, .xlsm, .xlsb" required="required">
  <input type="submit" value="upload file">
</form>


<h1>Convert to CSV</h1>
<form method="POST" action="{{ url_for('convert_csv') }}" enctype="multipart/form-data">
  <input type="file" name="file" accept=".xls, .xlsx, .xlsm, .xlsb" required="required">
  <input type="submit" value="upload file">
</form>
{% endblock %}
